body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}


.panier_header {
    display: flex;
    justify-content: space-between;
}

.panier_header a {
	text-decoration: none;
}

.panier_header .total, .panier_header .numero_commande{
    font-size: 25px;
    font-weight: 900;
}

.panier_header > div, .panier_header .numero_commande {
    width: 30%;
}

.panier_header .numero_commande {
    text-align: right
}

.panier_header .date_commande {
    font-size: 34px;
    font-weight: 900;
}

.panier_header.nombre_produits {
    font-size: 18px;
    font-weight: 100;

    margin-bottom: 70px;
}

.panier_header .valider_panier {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 20px;

	background-color: #2e2e2e;
	color: white;
	border: solid 3px #2e2e2e;
    width: 280px;
	height: 50px;
	border-radius: 20px;

	font-weight: 600;
	font-size: 30px;

	transition: background-color 0.2s, color 0.2s;
}

.panier_header .valider_panier:hover {
	background-color: white;
	color: #2e2e2e;
}

.etat_commande {
    margin: 30px 0 30px 0;

    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.etat_commande.rouge {
    color: red;
}

.etat_commande.orange {
    color: orange;
}

.etat_commande.vert {
    color: green;
}


.adresse {
    margin: 0;

    font-size: 23px;
    font-weight: 100;
    text-align: center;
}


.products_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    max-width: 100%;
    margin: 90px 30px 30px 30px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    margin-bottom: 50px;
}

.product > a {
    width: 100%;
}

.product:hover img {
    scale: 1.05;
}


.image_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;

    background-color: #e6e6e6;
    border-radius: 8px;
}

.product img {
    width: calc(100% - 50px);
    transition: scale 0.4s
}

.product > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 50px);
    margin-top: 20px;
}

.product h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.product h2 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.product_details_container a {
    height: 35px;
}

.product_details_container img {
    --size: 40px;
    width: var(--size);
    /* height: var(--size); */
    height: calc(var(--size) - 5px);
}


.product_details_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}

.product_details_left, .product_details_right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product_details_right {
    text-align: right;
}