header {
    position: sticky;
    top: -1px;

    width: 100%;

    z-index: 10;
}


.header_not_sticky {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-color: white;
    transition: 1s;
}

.header_top {
    display: flex;
    width: 100%;
    justify-content: space-between;

    margin-top: 20px;
}


.header_not_sticky .logo {
    width: 70px;
    margin-bottom: 20px;
}

/* Mettre l'élément de gauche et de droite du footer de la même taille, de sorte à ce que le contact soit bien centré */
.header_top > div:first-of-type, .header_top > div:last-of-type {
    width: 40%;
}


.icons_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    margin-right: 30px;
    gap: 40px;

    font-size: 1.1em;
}

.icon_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.icon_logo_background {
    display: flex;
    justify-content: center;
    align-items: center;

    --size : 50px;
    width: var(--size);
    height: var(--size);

    background-color: #f2f2f2;
    border-radius: 100%;

    transition: background-color 0.2s;
}

.icon_logo_background:hover {
    background-color: #2e2e2e
}

.icon_logo {
    --size : 25px;
    width: var(--size);
    height: var(--size);
}

.icon_container a {
    text-decoration: none;
    font-size: 18px;
    color: #2e2e2e;
}


nav {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    color: black;
    font-size: 40px;
}


.underline_animation {
    display: inline-block;
    position: relative;
}

.underline_animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #2e2e2e;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.underline_animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* STICKY HEADER */
.header_sticky {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    background-color: #e6e6e6;
}

/* Mettre l'élément de gauche et de droite du footer de la même taille, de sorte à ce que le contact soit bien centré */
.header_sticky > div:first-of-type, .header_sticky > div:last-of-type {
    width: 15%;
}

.header_sticky .logo {
    --spacing: 10px;
    margin: var(--spacing);
    width: 30px;
}

.header_sticky .icons_container {
    align-items: center;

    margin-right: 20px;
    gap: 20px;
}

.header_sticky .icon_logo_background {
    --size : 40px;
    width: var(--size);
    height: var(--size);
}

.header_sticky .icon_logo {
    --size : 20px;
    width: var(--size);
    height: var(--size);
}

.header_sticky .navigation {
    display: flex;
    align-items: center;
}

.header_sticky nav {
    gap: 50px;

    border: none;
}

.header_sticky nav a {
    color: #2e2e2e;
    font-size: 20px;
    font-weight: bold;
}


.isSticky {
    display: none;
}

.sticky_detection {
    width: 100%;

    visibility: hidden;
    position: sticky;
    top: -1px;
    height: 2px;
    background-color: red;

    margin-bottom: 100px;
}


/* SHOP DROPDOWN */

.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content h3 {
    margin: 0;
    padding: 10px 30px;
}


.dropdown_content a {
    text-decoration: none;
    font-size: 1.17em;
}

.dropdown_content div:hover {
    background-color: #e6e6e6;
}

.shop_dropdown:hover .dropdown_content {
  display: block;
}