<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../public/css/product.css">
	<title>Hot genre</title>
</head>

<body>
	<div class="product_container">

		<div id="product_images_container" class="product_images_container">
			<!-- php foreach and create divs with images -->
			<div class="selected">
				<img src="../../public/images/product.jpg">
			</div>

			<div>
				<img src="../../public/images/product.jpg">
			</div>

			<div>
				<img src="../../public/images/product.jpg">
			</div>

			<div>
				<img src="../../public/images/product.jpg">
			</div>

			<div>
				<img src="../../public/images/product.jpg">
			</div>

			<div>
				<img src="../../public/images/product.jpg">
			</div>
		</div>

		<div class="product_image">
			<img id="product_image" src="../../public/images/product.jpg">
		</div>

		<div class="product_details">
			<h3 class="product_name">Pull jfdkfjkqlfj kjfqkldj</h2>

			<h2 class="product_price">29.99€</h2>

			<div class="sizes_container">
				<div>
					<h3>S</h3>
				</div>

				<div>
					<h3>M</h3>
				</div>

				<div>
					<h3>L</h3>
				</div>

				<div>
					<h3>XL</h3>
				</div>

				<div>
					<h3>XXL</h3>
				</div>
			</div>
		</div>

	</div>

	<!-- Mettre la div product_container_images de la même taille que l'image principale -->
	<script>

		window.addEventListener("load", event => {
			var img = document.querySelector('#product_images_container img');

			// console.log(productImage.clientHeight);
			// console.log("Image is Loaded Successfully");

			var productIamgesContainer = document.getElementById('product_images_container');
			var productImage = document.getElementById('product_image');
		// productIamgesContainer.style.height = productImage.clientHeight;
			productIamgesContainer.style.height = productImage.clientHeight.toString() + "px";
		});
    </script>
</body>
</html>